@font-face {
  font-family: 'sourcerer';
  src:  url('fonts/sourcerer.eot?ojvhx4');
  src:  url('fonts/sourcerer.eot?ojvhx4#iefix') format('embedded-opentype'),
    url('fonts/sourcerer.ttf?ojvhx4') format('truetype'),
    url('fonts/sourcerer.woff?ojvhx4') format('woff'),
    url('fonts/sourcerer.svg?ojvhx4#sourcerer') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sourcerer' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sourcerer:before {
  content: "\e900";
  color: #00e7aa;
}
